<div class="bgimg-1">
    <div class="caption" style="top:46%">
      <span class="border" style="font-weight:900; background-color:transparent; color:#000;">ABOUT US</span>
    </div>
  </div>

  <div class="bgimg-4">
    <div class="caption" style="position:static; text-align:left">
      <div class="container" style="padding-left:50px; padding-right:50px;">
        <div class="row">
          <div class="col-md-8">
            <h3 class="section-title" style="color:#fff;">Material Development</h3>
            <!--<hr style="border-top: 1px solid rgba(255, 255, 255, 0.44); margin-top:10px;">-->
            <h4 style="color: #fff !important"> What makes Atacama unique is an integrated approach to manufacturing. Our experience in
              materials and the ability to custom formulate provides our customers with the ability to optimize designs for cost, performance,
              and manufacturability.
              <br>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bgimg-3">
    <div class="text-overlay"></div>
    <div class="caption" style="position:static; text-align:left; z-index:2">
      <div class="container" style="padding-left:50px; padding-right:50px;">
        <div class="row">
          <div class="col-md-8">
            <h3 class="section-title" style="color:#fff">Product Design & Development</h3>
            <!--<hr style="border-top: 1px solid rgba(255, 255, 255, 0.44); margin-top:10px;">-->
            <h4 style="color: #fff !important">
              The key to rapid time to market is having the right tools and structure to enable collaboration between a
              customer and their supplier. Atacama has over thirty years’ experience in plastic part and tool design.
              We can support customers with full product designs or collaborate using our CADD tools to enable
              manufacturable designs.
              <br>
              <br>
              <a href="/about/services" [routerLink]="['/about/services']" routerLinkActive="active-link"><span style="text-decoration: underline; color:#19ad7e;">Read more</span></a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="horizontalLine2"></div>
  <div class="verticalLine"></div>-->

  <div class="bgimg-2">
    <div class="text-overlay"></div>
    <div class="caption" style="position:static; text-align:left">
      <div class="container" style="padding-left:50px; padding-right:50px;">
        <div class="row">
          <div class="col-md-8">
            <h3 class="section-title" style="color:#fff;">Manufacturing</h3>
            <!--<hr style="border-top: 1px solid rgba(255, 255, 255, 0.44); margin-top:10px;">-->
            <h4 style="color: #fff !important">
              Atacama possess world class manufacturing capabilities in the US and Asia,
              supporting customer programs with low and high volume manufacturing expertise.
              <br>
              <br>
              <a href="/about/manufacturing" [routerLink]="['/about/manufacturing']" routerLinkActive="active-link"><span style="text-decoration:underline; color:#19ad7e;">Read more</span></a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!--
  <div class="bgimg-5">
    <div class="caption">
      <span class="border">TEAM</span>
    </div>
  </div>
  -->
  <div style="position:relative;">
    <div style="color:#ddd;text-align:center;padding:50px 0px;text-align: justify;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 id="title" class="team-title">Our Team</h4>
            <div class="col-md-2"></div>
            <!--chris -->
            <div id="person1" class="col-md-4">
              <div style="visibility: visible; text-align: center; padding-left: 0; padding-right: 0;">
                <div class="team-member" style="display:inline-block;">
                    <img src="/assets/images/about/chris.png" id="image_chris" class="team_image" (click)="toggleChris()"/>
                  <h4 id="team_name" style="font-size:20px;" class="content">
                    CHRIS VITELLO
                    <br>
                    <small>CEO/FOUNDER</small>
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-md-12" id="team_member_chris-mobile" style="display:none; margin-top: -25px;">
              <hr style="border-top: 1px solid #000;">
              <h5 style="font-weight: 200;">
                Chris Vitello founded Atacama in 2009 with a belief that the US CAN effectively manufacture
                products.  Chris possesses a BS in Plastics Engineering from the University of Lowell.  He has over
                thirty years experience in the plastics industry in the healthcare, electrical connector and the
                consumer products industries.  Expertise and capabiliites include project management (PMP certified),
                injection mold part and tool design and automation design.
              </h5>
            </div>
            <div id="person2" class="col-md-4">
              <div style="visibility: visible; text-align: center; padding-left: 0; padding-right: 0;">
                <div class="team-member" style="display:inline-block;">
                    <img src="/assets/images/about/debby.png" id="image_debby" class="team_image" (click)="toggleDebby()"/>
                  <h4 id="team_name" style="font-size:20px;" class="content">
                    DEBBY GREMMELS
                    <br>
                    <small>CUSTOMER SERVICE</small>
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" id="team_member_debby-mobile" style="display:none; margin-top: -25px;">
              <hr style="border-top: 1px solid #000;">
              <h5 style="font-weight: 200;">Debby Gremmels has over thirty years experience working with customers, ensuring that customers
                receive the highest quality service possible.
              </h5>
            </div>
            <!--
            <div id="person3" class="col-md-4">
              <div style="visibility: visible; text-align: center; padding-left: 0; padding-right: 0;">
                <div class="team-member" style="display:inline-block;">
                    <img src="/assets/images/about/dylan.png" id="image_dylan" class="team_image"/>
                  <h4 id="team_name" style="font-size:20px;" class="content">
                    DYLAN SATIN
                    <br>
                    <small>VP OF BUSINESS DEVELOPMENT</small>
                  </h4>
                </div>
              </div>
            </div>
            -->
            <div class="col-md-12" id="team_member_chris" style="display:none">
              <hr style="border-top: 1px solid #000;">
              <h4 style="font-size:20px; font-weight:900;" class="content">CHRIS VITELLO</h4>
              <h4 style="font-size:16px;" class="content">CEO/FOUNDER</h4>
              <h5 style="font-weight: 200;"> Chris Vitello founded Atacama in 2009 with a belief that the US CAN effectively manufacture
                products.  Chris possesses a BS in Plastics Engineering from the University of Lowell.  He has over
                thirty years experience in the plastics industry in the healthcare, electrical connector and the
                consumer products industries.  Expertise and capabiliites include project management (PMP certified),
                injection mold part and tool design and automation design.</h5>
            </div>
            <div class="col-md-12" id="team_member_debby" style="display:none">
              <hr style="border-top: 1px solid #000;">
              <h4 style="font-size:20px; font-weight:900;" class="content">DEBBY GREMMELS</h4>
              <h4 style="font-size:16px;" class="content">CUSTOMER SERVICE</h4>
              <h5 style="font-weight: 200;">Debby Gremmels has over thirty years experience working with customers, ensuring that customers
                receive the highest quality service possible.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
