// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  .content{
    font-size:18px;
    font-family: 'Roboto' !important;
    font-weight: 700;
  }

  // background images
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .product-design-bg{
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display:flex;
  }

  .product-design-bg{
    background-image: url('/assets/images/about/3d-printing.jpg');
    min-height: 63%;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      opacity: .6;
    }
  }

  .text-overlay {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    transition: opacity 0.25s;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.85);
  }
  
  .bgimg-1 {
    background-image: url('/assets/images/about/building-side.jpg');
    min-height: 55vw;
    opacity: 0.9 !important;
    background-position: center bottom;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      opacity: 0.2;
    }
  }
  
  .bgimg-2 {
    background-image: url('/assets/images/about/machines.jpeg');
    opacity: 0.95 !important;
  }
  
  .bgimg-3 {
    background-image: url('/assets/images/about/product-design.jpg');
    opacity: 1 !important;
  }
  
  .bgimg-4 {
    background-image: url('/assets/images/about/material-crop.jpg');
    opacity: 1 !important;
  }
  
  .bgimg-5 {
    background-image: url('/assets/images/about/manufacturing-team.jpg');
    min-height: 100vh;
    opacity:1 !important;
  }
  
  /*About page paralax block content */
  .col-md-8{
    .section-title{
      font-family: "Roboto";
      letter-spacing: 0px;
      font-weight:600;
      text-transform: none;
    }
    h4{
      font-weight:100;
      font-size: 17px;
      padding-top:15px;
    }
  }
  
  #title{
    font-family: 'Roboto' !important;
    text-align:center;
    font-size:35px;
    padding-bottom:60px;
  }
  
  #feature-block{
    padding-top:110px;
    padding-bottom:110px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 46%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  @media (min-width: 0px) {
    .caption span.border {
      //background-color: #111;
      //color: #fff;
      //font-weight: 800;
      font-family: "Roboto";
      padding: 18px;
      //font-size: 15px;
      //letter-spacing: 3px;
  
      font-size: 28px;
      font-weight: 900;
      background-color: transparent;
      color: #000;
    }
    .col-md-8{
      .section-title {
        font-size: 28px;
      }
      h4{ 
        font-size:14.25px;
      }
    }
    .clickable{
      pointer-events: none;
    }

    .text-overlay {
      display: block;
    }

    .bgimg-2, .bgimg-3, .bgimg-4 {
      min-height: 50vh;
    }

    .team-title {
      padding-top: 5px;
    }
    .bgimg-1 {
      min-height: 55vw;
      background-size: contain;
      background-position: initial;
    }
    .bgimg-2 {
      background-position: right;
    }
    .bgimg-4 {
      background-position: right -30px;
    }
    .bgimg-3 {
      background-position: right;
    }
  }
  @media (min-width: 770px) {
    .caption span.border {
      font-size: 40px;
      letter-spacing: 6px;
    }
    .col-md-8{
      .section-title {
        font-size: 57px;
      }
      h4{ 
        font-size:17px;
      }
    }

    .text-overlay {
      display: none;
    }

    .bgimg-2, .bgimg-3, .bgimg-4 {
      min-height: 60vh;
      background-position: center;
    }

    .team-title {
      padding-bottom: 95px !important; 
      padding-top: 20px;
    }
  
  }
  @media (min-width: 990px) {
    .clickable{
      pointer-events: inherit;
    }

    .bgimg-1 {
      min-height: 35vw;
      background-size: cover;
      background-position: center -185px;
    }
  }
  
  
  h4, h5{
    color:#333 !important;
    font-family: "OpenSans", sans-serif !important;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  .row{
    margin-bottom:50px;
  }
  
  .about-txt{
    margin-left: 20px;
    background-color: #111;
    color: #fff;
    padding: 18px;
  }
  
  // team images
  .team_image{
    cursor: pointer;
    cursor: hand;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    width:220px;
  }
  #image_dylan{
    cursor:inherit !important;
  }
  @media (min-width: 0px) {
    .team-member {
      padding-bottom: 30px;
    }
    #person1{
      padding-left: inherit;
    }
    #person2, #person3{
      padding-right: inherit;
    }
  }
  @media (min-width: 991px) {
    .team-member {
      padding-bottom: 0px;
    }
  }
  
    #team_member_andrew-mobile, #team_member_chris-mobile, #team_member_debby-mobile{
      padding-bottom: 40px;
    }
  
    /*  PRODUCT DESIGN & DEVELOPMENT PAGE */
  
    //sub heading
    .sub-heading{
      h4{
        font-family: 'Roboto' !important;
        margin-bottom: 110px;
        text-align: center;
        font-size:19.5px;
        font-weight: 600;
      }
    }
  
    //clickable blocks
    .visual-block{
      margin: 0 0 20px;
      background-position: 50% 50%;
      background-size: cover;
      box-shadow: 0 0 42px #c6c6d1;
      cursor: pointer;
      cursor: hand;
      a{
        min-height: 352px;
        position: relative;
        display: flex;
        padding: 20px;
        align-items: center;
        transition: all .25s;
        .txt-container {
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          position: absolute;
          -webkit-transition: opacity .25s;
          transition: opacity .25s;
          opacity: .5;
          border: 2.5px solid #fff;
          border-radius: 3px;
          background: rgba(0,0,0,.8);
        }
        .visual-txt {
          position: relative;
          width: 100%;
          h4 {
            font-size: 20px;
            font-weight: 400;
            font-family: 'Roboto' !important;
            text-align: center;
            color:#fff !important;
          }
        }
      }
      a:hover{
        .txt-container {
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          position: absolute;
          opacity: .7;
          border: 2.5px solid #fff;
          border-radius: 3px;
          background: rgba(0,0,0,.8);
        }
      }
    }
  
    #block1 {
      background-image: url('/assets/images/about/design-block.jpg');
    }
    #block2{
      background-image:url('/assets/images/about/3d-printing-block.jpg');
    }
    #block3{
      background-image: url('/assets/images/about/manufacturing.jpg');
    }
  
    #design-info-mobile, #tooling-info-mobile, #prototyping-info-mobile{
      padding-top: 20px;
      padding-bottom:50px;
    }
  
  
  // development & design page title
  
  @media (min-width: 0px){
    #temp1{
      display:none;
    }
    #temp2{
      display: none;
    }
    #temp3{
      display: initial;
    }
  }
  @media (min-width: 413px){
    #temp1{
      display: none;
    }
    #temp2{
      display: initial;
    }
    #temp3{
      display: none;
    }
  }
  @media (min-width: 748px){
    #temp1{
      display:initial;
    }
    #temp2{
      display: none;
    }
    #temp3{
      display: none;
    }
  }
  
  
  