<div id="contact-page">
    <div class="container contact-container" style="padding-bottom:50px;">
      <div class="row">
        <div></div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <form
                class="simple_form form-horizontal"
                id="new_contact"
                action="https://formspree.io/f/mdoybrjz"
                method="POST"
            >
                <div class="input string required contact_name">
                    <label for="contact_name">Name</label>
                    <input class="string required" aria-required="true" placeholder="Full Name" type="text" id="contact_name" required>
                </div>
                <div class="input email required contact_email">
                    <label class="email required" for="contact_email">Email</label>
                    <input class="string email required" aria-required="true" placeholder="you@email.com" type="email" id="contact_email" required>
                </div>
                <div class="input text required contact_message">
                    <label class="text required" for="contact_message">Message</label>
                    <textarea class="text required" aria-required="true" id="contact_message" required></textarea>
                </div>
                <div class="col-sm-9 col-sm-offset-3" id="btn-container">
                    <br>
                    <input type="submit" name="commit" value="Send message" class="btn btn btn-primary" data-disable-with="Send message">
                  </div>
            </form>
        </div>
        <hr id="contact-divider" style="border-top: 1px solid #737373;margin-left: 15px;margin-right: 15px;padding-bottom: 20px; width: 100%;">

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6" style="height:156px;">
              <iframe
              width="100%"
              height="150px"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBFLvxgYpIi1bGVqNPSSt7k8VvR_9fsULo&q=ecnow+tech">
              </iframe>
            </div>
            <div class="col-md-6">
              <h4 class="sub-title">Atacama</h4>
              <p class="content" style="font-size:16px;color: rgba(0, 0, 0, 0.86);">34080 ExCor Road <br> Albany, Oregon 97321</p>
            </div>
          </div>
            <div class="row">
            <div id ="contact-info" class="col-md-4">
              <h4>Sales:</h4>
              <p>sales@atacamausa.com</p>
              <p>+1 (541) 207-3480</p>
            </div>
            <div id ="contact-info" class="col-md-4">
              <h4>Customer Service:</h4>
              <p>debby@atacamausa.com</p>
              <p>+1 (541) 207-3480</p>
            </div>
            <div id ="contact-info" class="col-lg-4 technical">
              <h4>Technical Service:</h4>
              <p>chris@atacamausa.com</p>
              <p>+1 (541) 207-2461</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>