<nav id="menu" class="panel" role="navigation">
    <ul>
      <li>
        <a href="/">
          <span><i class="fa fa-home" aria-hidden="true" style="margin-right: 10px; width:16.7px"></i></span>
          HOME
        </a>
      </li>
      <li>
        <a href="/about" [routerLink]="['/about']" routerLinkActive="active-link">
          <span><i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 10px; width:16.7px"></i></span>
          ABOUT
        </a>
      </li>
      <li>
        <a href="/about/manufacturing" [routerLink]="['/about/manufacturing']" routerLinkActive="active-link">
          <span><i class="fa fa-cog" aria-hidden="true" style="margin-right: 10px; width:16.7px"></i></span>
          MANUFACTURING
        </a>
      </li>
      <li>
        <a href="/about/services" [routerLink]="['/about/services']" routerLinkActive="active-link">
          <span><i class="fa fa-desktop" aria-hidden="true" style="margin-right: 10px; width:16.7px"></i></span>
          SERVICES
        </a>
      </li>
      <li>
        <a href="/contact" [routerLink]="['/contact']" routerLinkActive="active-link">
          <span><i class="fa fa-phone" aria-hidden="true" style="margin-right: 10px; width:16.7px"></i></span>
          CONTACT
        </a>
      </li>
      <li>
        <a href="http://earthsmartpd.com/">
          <span><i class="fa fa-dropbox" aria-hidden="true" style="margin-right: 10px; width:16.7px;"></i></span>
          EARTH SMART <span style="padding-left:31px">PACKAGING</span>
        </a>
      </li>
    </ul>
  </nav>
    <div id="wrapper">
      <div id="nav-wrapper">
        <ul class="nav-nav">
          <li class="nav-brand">
            <a href="/">
                <img src="/assets/images/logo-green.png" id="logo_img"/>
            </a>
          </li>
        </ul>
      </div>
      <a href="#menu" class="menu-link" [class.home-nav]="!isNonHomePath">&#9776;</a>

      <div id="menu-desktop" *ngIf="isNonHomePath">
        <ul>
          <li>
            <a class="menu-item" href="/about" [routerLink]="['/about']" routerLinkActive="active-link">ABOUT</a>
          </li>
          <li>
            <a class="menu-item" href="/about/manufacturing" [routerLink]="['/about/manufacturing']" routerLinkActive="active-link">MANUFACTURING</a>
          </li>
          <li>
            <a class="menu-item" href="/about/services" [routerLink]="['/about/services']" routerLinkActive="active-link">SERVICES</a>
          </li>
          <li>
            <a class="menu-item" href="/contact" [routerLink]="['/contact']" routerLinkActive="active-link">CONTACT</a>
          </li>
          <li>
            <a class="menu-item" href="http://earthsmartpd.com/">EARTH SMART PACKAGING</a>
          </li>
        </ul>
      </div>
    </div>
    <ng-content></ng-content>
    <div id="footer" *ngIf="isNonHomePath">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <ul id="footer1" style="list-style-type: none; padding:0;margin-top: 20px;">
              <li class="footer-map"><a href="/" class="content" style="font-size:15px">Home</a> </li>
              <li class="footer-map"><a href="/about" class="content" style="font-size:15px" [routerLink]="['/about']" routerLinkActive="active-link">About</a></li>
              <li class="footer-map"><a href="http://earthsmartpd.com/" class="content" style="font-size:15px">Earth Smart Packaging</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <ul id="footer2">
              <li class="footer-map"><a href="/about/manufacturing" class="content" style="font-size:15px" [routerLink]="['/about/manufacturing']" routerLinkActive="active-link">Manufacturing</a></li>
              <li class="footer-map"><a href="/about/services" class="content" style="font-size:15px" [routerLink]="['/about/services']" routerLinkActive="active-link">Product Design & Development Services</a></li>
              <li class="footer-map"><a href="/contact" class="content" style="font-size:15px" [routerLink]="['/contact']" routerLinkActive="active-link">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div id="footer3" class="span2 contactSocial">
              <a class="smIcon gplus" href="https://plus.google.com/100307897242792988293/about"></a>
              <a class="smIcon pin" href="https://www.pinterest.com/source/ecnowtech.com/"></a>
              <a class="smIcon tw" href="https://twitter.com/ecnowtech"></a>
              <a class="smIcon fb" href="https://www.facebook.com/pages/The-Earth-Smart-Store/144407996960"></a>
            </div>
          </div>
          <div class="col-md-12" style="padding-bottom:0px">
            <a href="http://mattvitello.com">
              <p id="author-tag" class="content" style="font-size: 11px; font-weight:100; text-align: center;">
              Site by Matt Vitello
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>