// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  .content{
    font-size:18px;
    font-family: 'Roboto' !important;
    font-weight: 700;
  }
  // background images
  .manufacturing-bg {
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display:flex;
  }
  
  .manufacturing-bg{
    background-image: url('/assets/images/about/manufacturing-3.jpg');
    min-height: 63vh;
    opacity:0.85 !important;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      opacity: .6;
    }
  }
  
  .bgimg-1 {
    background-image: url('/assets/images/about/about-new.jpg');
    min-height: 100%;
    opacity: 0.9 !important;
  }
  
  .bgimg-2 {
    background-image: url('/assets/images/about/machines.jpg');
    min-height: 85%;
    opacity: 0.95 !important;
  }
  
  .bgimg-3 {
    background-image: url('/assets/images/about/product-design.jpg');
    min-height: 85%;
    opacity: 1 !important;
  }
  
  .bgimg-4 {
    background-image: url('/assets/images/about/material.jpg');
    min-height: 85%;
    opacity: 1 !important;
  
  }
  
  .bgimg-5 {
    background-image: url('/assets/images/about/manufacturing-team.jpg');
    min-height: 100%;
    opacity:1 !important;
  }
  
  /*About page paralax block content */
  .col-md-8{
    .section-title{
      font-family: "Roboto";
      letter-spacing: 0px;
      font-weight:600;
      text-transform: none;
    }
    h4{
      font-weight:100;
      font-size: 17px;
      padding-top:15px;
    }
  }
  
  #title{
    font-family: 'Roboto' !important;
    text-align:center;
  }
  
  #feature-block{
    padding-top:110px;
    padding-bottom:110px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 46%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  @media (min-width: 0px) {
    .caption span.border {
      //background-color: #111;
      //color: #fff;
      //font-weight: 800;
      font-family: "Roboto";
      padding: 18px;
      //font-size: 15px;
      //letter-spacing: 3px;
  
      font-size: 40px !important;
      font-weight: 900;
      background-color: transparent;
      color: #000;
    }
    .col-md-8{
      .section-title {
        font-size: 40px;
      }
    }
    .clickable{
      pointer-events: none;
      height: 65px;
      margin-bottom: 0px;
    }
  }
  @media (min-width: 770px) {
    .caption span.border {
      font-size: 28px;
      letter-spacing: 6px;
    }
    .col-md-8{
      .section-title {
        font-size: 57px;
      }
    }
  
  }
  @media (min-width: 990px) {
    .clickable{
      pointer-events: inherit;
      height: 85px;
      margin-bottom: 50px;
    }
  }
  
  h4, h5{
    color:#333 !important;
    font-family: "OpenSans", sans-serif !important;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  .row{
    margin-bottom:50px;
  }
  
  .about-txt{
    margin-left: 20px;
    background-color: #111;
    color: #fff;
    padding: 18px;
  }
  
  // team images
  .team_image{
    cursor: pointer;
    cursor: hand;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    width:220px;
  }
  #image_dylan{
    cursor:inherit !important;
  }
  @media (min-width: 0px) {
    .team-member {
      padding-bottom: 30px;
    }
    #person1{
      padding-left: inherit;
    }
    #person2, #person3{
      padding-right: inherit;
    }
  }
  @media (min-width: 991px) {
    .team-member {
      padding-bottom: 0px;
    }
    #person1, #person2, #person3{
      padding-left:100px;
    }
  }
  
    #team_member_andrew-mobile, #team_member_chris-mobile, #team_member_debby-mobile{
      padding-bottom: 40px;
    }
  
    /* MANUFACTURING PAGE */
  
    //images
    .manufacturing-image{
      width: 100%;
    }
    //Circle icons
    .list {
      margin: 0;
      list-style: none;
      padding: 0;
      text-align:center;
    }
    .list__item {
      display: inline-block;
    }
    .list__icon {
      display: inline-block;
      vertical-align: middle;
      position: relative;
    }
    #manufacturing-page{
      .container{
        .row{
          .col-md-4:hover{
            .list__icon.list__icon_social{
              background-color: #000;
            }
            .manufacturing-content{
              color: #000;
            }
          }
        }
      }
    }
  
    @media (min-width: 0px) {
      .list__icon_social {
        display:none;
      }
      .manufacturing-content{
        width: 100%;
        p{
          text-align: center;
        }
      }
      #manufacturing-page{
        .container{
          .row{
            margin-bottom:0px;
          }
        }
      }
    }
    @media (min-width: 991px) {
      .list__icon_social {
        text-align: center;
        border-radius: 50%;
        background-color: #333;
        color: #fff;
        padding: 3.3rem;
        font-size: 3.3rem;
        display:block;
      }
      .manufacturing-content{
        width: 75%;
        p{
          text-align:inherit;
        }
      }
      #manufacturing-page{
        .container{
          .row{
            margin-bottom:50px;
          }
        }
      }
    }
    @media (min-width: 1200px) {
      .list__icon_social {
        text-align: center;
        border-radius: 50%;
        background-color: #333;
        color: #fff;
        padding: 4rem;
        font-size: 4rem;
      }
    }
  
    .icon_social {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  
    .manufacturing-content{
      display: table;
      height: 80px;
      p{
        display: table-cell;
        vertical-align: middle;
      }
    }
    .content-title{
      font-family: 'Roboto' !important;
      font-size: 32px;
      padding-bottom:10px;
    }
  
  // clickable icons
  #manufacturing-page{
    .row{
      margin-bottom: 0px !important;
    }
  }
  .clickable{
    cursor: pointer;
  }
  .border-top{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:0px;
  }
  
  @media (min-width:641px){
    .arrow_box {
      border-bottom: none;
      padding-top: initial;
      padding-bottom: initial;
    }
  }
  
  .arrow_box{
    position: relative;
    background: #fff;
    border-top: 3px solid #2c2c2c;
    border-left: none;
    border-right: none;
    margin-top: 23px;
    padding-top: 20px;
  }
  .arrow_box:before{
    border-color: rgba(10,11,13,0) !important;
    border-bottom-color: #2c2c2c !important;
    border-width: 24px !important;
    margin-left: -24px;
  }
  .arrow_box:after{
    border-color: rgba(255,255,255,0) !important;
    border-bottom-color: #fff !important;
    border-width: 20px !important;
    margin-left: -20px;
  }
  
  .arrow_box:before, .arrow_box:after{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  #info-row{
    border-top:3px solid;
  }
  
    /*  PRODUCT DESIGN & DEVELOPMENT PAGE */
  
    //sub heading
    .sub-heading{
      h4{
        font-family: 'Roboto' !important;
        margin-bottom: 110px;
        text-align: center;
        font-size:19.5px;
        font-weight: 600;
      }
    }
  
    //clickable blocks
    .visual-block{
      margin: 0 0 20px;
      background-position: 50% 50%;
      background-size: cover;
      box-shadow: 0 0 42px #c6c6d1;
      cursor: pointer;
      cursor: hand;
      a{
        min-height: 352px;
        position: relative;
        display: flex;
        padding: 20px;
        align-items: center;
        transition: all .25s;
        .txt-container {
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          position: absolute;
          -webkit-transition: opacity .25s;
          transition: opacity .25s;
          opacity: .5;
          border: 2.5px solid #fff;
          border-radius: 3px;
          background: rgba(0,0,0,.8);
        }
        .visual-txt {
          position: relative;
          width: 100%;
          h4 {
            font-size: 20px;
            font-weight: 400;
            font-family: 'Roboto' !important;
            text-align: center;
            color:#fff !important;
          }
        }
      }
      a:hover{
        .txt-container {
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          position: absolute;
          opacity: .7;
          border: 2.5px solid #fff;
          border-radius: 3px;
          background: rgba(0,0,0,.8);
        }
      }
    }
  
    #design-info-mobile, #tooling-info-mobile, #prototyping-info-mobile{
      padding-top: 20px;
      padding-bottom:50px;
    }
  
  // development & design page title
  
  @media (min-width: 0px){
    .manufacturing-bg {
      background-position: right -100px;
    }
    #title {
      font-size:30px;
      padding-bottom: 0px;
    }
  }
  @media (min-width: 991px){
    .manufacturing-bg {
      background-position: right -170px;
    }
    #title {
      padding-bottom: 80px;
      font-size:35px;
    }
  }
  
  
  