<div class="product-design-bg">
    <div class="caption">
      <span class="border">PRODUCT DESIGN <span id="temp1" style="">& DEVELOPMENT SERVICES</span></span>
      <br>
      <span id="temp2" class="border" style="padding-top:0px;padding-left: 0px;padding-right: 39px;">& DEVELOPMENT SERVICES</span>
      <span id="temp3" class="border" style="padding-top:0px;padding-left: 31px;padding-right: 31px;">& DEVELOPMENT SERVICES</span>
  
    </div>
  </div>
  
  <div class="container" id="feature-block">
    <div class="sub-heading">
      <h4>
        With over 30 years experience in product development, Atacama provides expertise to customers which ensures
        them goals are met.
      </h4>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="visual-block" id="block1">
          <a id="design" (click)="toggleDesign()">
            <div class="txt-container">
            </div>
            <div class="visual-txt">
              <h4>DESIGN</h4>
            </div>
          </a>
        </div>
      </div>
        <div id="design-info-mobile" style="display:none">
          <div class="col-md-12">
            <h4 id="title">DESIGN</h4>
            <p class="content">
              Atacama utilizes the latest in CADD design technology to provide customers with designs which are optimized
              for cost, performance, manufacturing, and if needed regulatory requirements.
            </p>
            <br>
            <p class="content">
              The in house capability for development of plant based polymers enables a unique ability to provide product and
              packaging design for the environment. Whether customers are waiting to optimize for compostability, reuse, or recycling,
              Atacama has the knowledge and expertise to provide optimum part and material design
            </p>
          </div>
        </div>
      <div class="col-md-6 col-lg-4">
        <div class="visual-block" id="block2">
          <a id="prototyping" (click)="togglePrototyping()">
            <div class="txt-container">
            </div>
            <div class="visual-txt">
              <h4>RAPID PROTOTYPING</h4>
            </div>
          </a>
        </div>
      </div>
        <div id="prototyping-info-mobile" style="display:none">
          <div class="col-md-12">
            <h4 id="title">RAPID PROTOTYPING</h4>
            <p class="content">
              Time to market is key for customers in any industry. The ability to collaborate with customers and efficiently complete
              the development of products is key to reducing time to market.
            </p>
            <br>
            <p class="content">
              Communicating using CADD and rapid prototyping tools like 3-D printing enables multiple iterations and design refinements
              in a short period of time. Atacama provides 3-D printing, rapid prototyping of tools in soft metals and pre-production
              tooling capabilities in the US and Asia.
            </p>
          </div>
        </div>
      <div class="col-md-6 col-lg-4">
        <div class="visual-block" id="block3">
          <a id="tooling" (click)="toggleTooling()">
            <div class="txt-container">
            </div>
            <div class="visual-txt">
              <h4>HIGH VOLUME MANUFACTURING</h4>
            </div>
          </a>
        </div>
      </div>
        <div id="tooling-info-mobile" style="display:none">
          <div class="col-md-12">
            <h4 id="title">HIGH VOLUME MANUFACTURING</h4>
            <p class="content">
             Investment in designs which are manufacturable on the front end of a project enables successful high
              volume manufacturing.  Customer cost and quality goals can be met when design for manufacturing is a priority.
              Atacama has high volume manufacturing capabilities in the United States and Asia.  Dependent on customer
              preference and business drivers, Atacama can produce products anywhere in the world to meet customer
              expectations.
            </p>
            <br>
            <p class="content">
             The Atacama team can assist with or provide complete product designs for customers, enable rapid
              prototyping, mold tooling design, construction and qualification. Atacama quality systems ensure
              products meet specifications and quality standards.  Manufacturing areas comply with good manufacturing
              practices (GMP) guidelines.
              ramp up in production.
            </p>
          </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:0px">
      <div id="design-info" style="display:none">
        <div class="col-md-12">
          <h4 id="title">DESIGN</h4>
          <p class="content">
            Atacama utilizes the latest in CADD design technology to provide customers with designs which are optimized
            for cost, performance, manufacturing, and if needed regulatory requirements.
          </p>
          <br>
          <p class="content">
            The in house capability for development of plant based polymers enables a unique ability to provide product and
            packaging design for the environment. Whether customers are waiting to optimize for compostability, reuse, or recycling,
            Atacama has the knowledge and expertise to provide optimum part and material design
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:0px">
      <div id="prototyping-info" style="display:none">
        <div class="col-md-12">
          <h4 id="title">RAPID PROTOTYPING</h4>
          <p class="content">
            Time to market is key for customers in any industry. The ability to collaborate with customers and efficiently complete
            the development of products is key to reducing time to market.
          </p>
          <br>
          <p class="content">
            Communicating using CADD and rapid prototyping tools like 3-D printing enables multiple iterations and design refinements
            in a short period of time. Atacama provides 3-D printing, rapid prototyping of tools in soft metals and pre-production
            tooling capabilities in the US and Asia.
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:0px">
      <div id="tooling-info" style="display:none">
        <div class="col-md-12">
          <h4 id="title">HIGH VOLUME MANUFACTURING</h4>
          <p class="content">
            Investment in designs which are manufacturable on the front end of a project enables successful high
            volume manufacturing.  Customer cost and quality goals can be met when design for manufacturing is a priority.
            Atacama has high volume manufacturing capabilities in the United States and Asia.  Dependent on customer
            preference and business drivers, Atacama can produce products anywhere in the world to meet customer
            expectations.
          </p>
          <br>
          <p class="content">
            The Atacama team can assist with or provide complete product designs for customers, enable rapid
            prototyping, mold tooling design, construction and qualification. Atacama quality systems ensure
            products meet specifications and quality standards.  Manufacturing areas comply with good manufacturing
            practices (GMP) guidelines.
            ramp up in production.
          </p>
        </div>
      </div>
    </div>
  </div>