<div class="home-section xlg-padding primary-section bg-tan" id="pageStart">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="display-4 pb-3" style="color: #07d5a8bf;opacity: 0.85;font-family:'Roboto-title';font-weight: 600;">Atacama Manufacturing</h1>
                <p class="lead pb-3" style="color: #fff;opacity: 0.85;font-family:'Roboto-sub-title';font-weight: 600;">Atacama is an innovative and fast-growing manufacturer of plant-based and
                    reusable plastic products based in the USA. The company has the capacity to
                    design, formulate, manufacture and distribute environmentally friendly products.</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section">
    <div class="container pt-6 pb-5">
        <div class="row" style="margin-bottom: -1rem;">
            <div class="col-12 text-center center">
                <h3 class="mb-5">The Urgent Need to Solve the Global Plastic Waste Problem</h3>
            </div>
            <div class="col-md-3 text-center center mb-3">
                <h4 class="mb-4 title green-text"><i class="fas fa-user-friends" style="font-size: 0.85em;"></i> Consumers</h4>
                <p>Consumers around the world are demanding more environmentally friendly products and solutions.</p>
            </div>
            <div class="col-md-3 text-center center mb-3">
                <h4 class="mb-4 title green-text"><i class="fas fa-scroll" style="font-size: 0.85em;"></i> Legislation</h4>
                <p>Regions of the world like the EU are legislating that single use plastics must be reduced or eliminated.</p>
            </div>
            <div class="col-md-3 text-center center mb-3">
                <h4 class="mb-4 title green-text"><i class="fas fa-trash" style="font-size: 0.85em;"></i> Waste</h4>
                <p>Half of all plastics ever manufactured have been made in the last 15 years.</p>
            </div>
            <div class="col-md-3 text-center center mb-3">
                <h4 class="mb-4 title green-text"><i class="fas fa-industry"></i> Production</h4>
                <p>Plastics production increased exponentially, from 2.3 million tons in 1950 to 448 million tons by 2015. Production is expected to double by 2050.</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section" id="innovationSection">
    <div class="text-overlay"></div>
    <div class="container">
        <div class="row flex-center" style="min-height: 500px;">
            <div class="col-md-7 offset-md-5">
                <h1 class="mb-4">Raw Material Innovation</h1>
                <p>What makes Atacama unique is an integrated approach to manufacturing. We create unique and novel bioplastic raw materials that enable enhanced performance and compostability capabilities.</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section bg-green" id="developmentSection">
    <div class="container">
        <div class="row flex-center" style="min-height: 500px;">
            <div class="col-md-7 product-text">
                <h1 class="mb-4">Disruptive Product Development</h1>
                <p>The key to rapid time to market is having the right tools and structure to enable collaboration between a customer and their supplier. Atacama has over thirty years’ experience in plastic part and tool design. We can support customers with full product designs or collaborate using our CADD tools to enable manufacturable designs.</p>
            </div>
            <div class="col-md-2 col-6 offset-md-1 product-imgs product-imgs-1">
                <img src="/assets/images/cup.png"/>
                <img src="/assets/images/prototype.jpg"/>
            </div>
            <div class="col-md-2 col-6 product-imgs product-imgs-2">
                <img src="/assets/images/clam.png"/>
                <img src="/assets/images/petri.png"/>
            </div>
        </div>
    </div>
</div>

<div class="home-section" id="manufacturingSection">
    <div class="text-overlay"></div>
    <div class="container">
        <div class="row md-padding">
            <div class="col-md-7 offset-md-5">
                <h1 class="mb-4">Manufacturing</h1>
                <p>We manufacture plant-based, marine safe and home compostable products as well as reusable products.</p>
                <p style="margin-bottom: 5px;">Our capabilities include:</p>
                <ul>
                    <li>Raw Material Formulation</li>
                    <li>Product Design & Development</li>
                    <li>Extrusion / Injection Molding / Thermoforming</li>
                    <li>Bioplastic and reusable product manufacturing</li>
                    <li>Advanced Robotics & Automation</li>
                </ul>
                <p>R&D activities and Manufacturing are located in Oregon, USA.</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section bg-gray" id="circularSection">
    <div class="container">
        <div class="row flex-center" style="min-height: 500px;">
            <div class="col-md-7 product-text mb-4 mt-4">
                <h1 class="mb-4">Circular Economy</h1>
                <p>Atacama is also developing technologies and partnerships in the Circular Economy. A successful pilot project has been completed with a major national restaurant chain.
                    We manufacture plant-based plastic products, collect them after use and remanufacture new products.
                </p>        
                <p>Over <span class="green-text">30,000</span> lbs of plant based plastic have been reclaimed and remanufactured to date.</p>    
            </div>
            <div class="col-md-4 col-12 offset-md-1">
                <img class="circular-image" src="/assets/images/circular.png" style="width: 100%;"/>
            </div>
        </div>
    </div>
</div>

<div class="home-section bg-tan" id="teamSection">
    <div class="container pt-6 pb-6">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3">Our Team</h3>
                <div class="row pt-4 text-center center">
                    <div class="col-md-4">
                        <div style="visibility: visible; text-align: center; padding-left: 0; padding-right: 0;">
                          <div class="team-member" style="display:inline-block;">
                              <img src="/assets/images/chris.png" class="team_image" (click)="toggleChris()"/>
                            <h4 style="font-size:20px;" class="mt-2">
                              <span>CHRIS VITELLO</span>
                              <br>
                              <small class="sub-text">CEO/FOUNDER</small>
                            </h4>
                          </div>
                        </div>
                    </div>
                    <div class="col-12" id="chrisMobile" style="display:none;margin-top: -25px;">
                        <hr style="border-top: 1px solid #000;">
                        <p>
                            Chris Vitello founded Atacama Manufacturing with a vision for creating innovative raw materials and manufacturing solutions to reduce waste and improve the planet for future generations. Chris possesses a BS in Plastics Engineering from the University of Massachusetts – Lowell. He has worked in the plastics industry in product design, development, and manufacturing for over thirty years.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <div style="visibility: visible; text-align: center; padding-left: 0; padding-right: 0;">
                          <div class="team-member" style="display:inline-block;">
                              <img src="/assets/images/gordon.png" class="team_image" (click)="toggleGordon()"/>
                            <h4 style="font-size:20px;" class="mt-2">
                                GORDON WALDRON
                              <br>
                              <small class="sub-text">CO-FOUNDER</small>
                            </h4>
                          </div>
                        </div>
                    </div>
                    <div class="col-12" id="gordonMobile" style="display:none;margin-top: -25px;">
                        <hr style="border-top: 1px solid #000;">
                        <p>
                            Gordon Waldron has over 25 years experience managing highly innovative companies in the biotech, med tech and high-tech sectors.  Over the course of his career, he has raised over €175 million from an international, blue chip investor base and €54 million via an IPO.  He has completed 10 M&A transactions including the trade-sale of a venture capital funded biotech for cash consideration in excess of $500 million. He has generated over €100 million in cumulative cash proceeds through the negotiation of business development and other non-dilutive funding agreements.  He has implemented organizational restructurings and established companies in the USA, France, Hong Kong and China. Gordon is a graduate of Duke University (USA).
                        </p>
                    </div>

                    <div class="col-md-4">
                        <div style="visibility: visible; text-align: center; padding-left: 0; padding-right: 0;">
                          <div class="team-member" style="display:inline-block;">
                              <img src="/assets/images/eduardo.png" class="team_image" (click)="toggleEduardo()"/>
                            <h4 style="font-size:20px;" class="mt-2">
                                EDUARDO SALCEDO, MD
                              <br>
                              <small class="sub-text">CO-FOUNDER</small>
                            </h4>
                          </div>
                        </div>
                    </div>
                    <div class="col-12" id="eduardoMobile" style="display:none;margin-top: -25px;">
                        <hr style="border-top: 1px solid #000;">
                        <p>
                            Dr Salcedo is a physician with over 25 years of clinical practice in Anesthesiology and Pain Medicine. He has served on multiple boards including the largest Anesthesiology Practice in Maryland as well as his Medical School Alumni Council Board.
                            <br/><br/>
                            Dr Salcedo is a serial entrepreneur, holding multiple medical device patents.
                            <br/><br/>
                            Dr Salcedo received his undergraduate degree from Duke University.
                            <br/><br/>
                            Anesthesiology training at George Washington University and Brigham and Woman’s Hospital/ Harvard Medical School.
                        </p>
                    </div>

                    <!--Top Row Desktop Descriptions-->
                    <div class="col-12" id="chris" style="display:none;">
                        <hr style="border-top: 1px solid #000;">
                        <p style="text-align: left;">
                            Chris Vitello founded Atacama Manufacturing with a vision for creating innovative raw materials and manufacturing solutions to reduce waste and improve the planet for future generations. Chris possesses a BS in Plastics Engineering from the University of Massachusetts – Lowell. He has worked in the plastics industry in product design, development, and manufacturing for over thirty years.
                        </p>
                    </div>
                    <div class="col-12" id="gordon" style="display:none;">
                        <hr style="border-top: 1px solid #000;">
                        <p style="text-align: left;">
                            Gordon Waldron has over 25 years experience managing highly innovative companies in the biotech, med tech and high-tech sectors.  Over the course of his career, he has raised over €175 million from an international, blue chip investor base and €54 million via an IPO.  He has completed 10 M&A transactions including the trade-sale of a venture capital funded biotech for cash consideration in excess of $500 million. He has generated over €100 million in cumulative cash proceeds through the negotiation of business development and other non-dilutive funding agreements.  He has implemented organizational restructurings and established companies in the USA, France, Hong Kong and China. Gordon is a graduate of Duke University (USA).
                        </p>
                    </div>
                    <div class="col-12" id="eduardo" style="display:none;">
                        <hr style="border-top: 1px solid #000;">
                        <p style="text-align: left;">
                            Dr Salcedo is a physician with over 25 years of clinical practice in Anesthesiology and Pain Medicine. He has served on multiple boards including the largest Anesthesiology Practice in Maryland as well as his Medical School Alumni Council Board.
                            <br/><br/>
                            Dr Salcedo is a serial entrepreneur, holding multiple medical device patents.
                            <br/><br/>
                            Dr Salcedo received his undergraduate degree from Duke University.
                            <br/><br/>
                            Anesthesiology training at George Washington University and Brigham and Woman’s Hospital/ Harvard Medical School.
                        </p>
                    </div>

                    <div class="col-md-4 offset-md-2">
                        <div style="visibility: visible; text-align: center; padding-left: 0; padding-right: 0;">
                          <div class="team-member" style="display:inline-block;">
                              <img src="/assets/images/max.png" class="team_image" (click)="toggleMax()"/>
                            <h4 style="font-size:20px;" class="mt-2">
                                MAXIME WALDRON
                              <br>
                              <small class="sub-text">CO-FOUNDER/CONTROLLER</small>
                            </h4>
                          </div>
                        </div>
                    </div>
                    <div class="col-12" id="maxMobile" style="display:none;margin-top: -25px;">
                        <hr style="border-top: 1px solid #000;">
                        <p>
                            Maxime Waldron started his career in Investment Banking in Paris and London at Lazard, Morgan Stanley and Bank of America Merrill Lynch. He worked on large transactions in mergers and acquisitions as well as in equity capital markets covering Europe, Middle East and Africa. He now works as a finance consultant for high growth companies and teaches corporate finance at Sorbonne University. Maxime is a graduate of ESCP Business School (Paris and London) with an Advanced Master in Finance.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <div style="visibility: visible; text-align: center; padding-left: 0; padding-right: 0;">
                          <div class="team-member" style="display:inline-block;">
                              <img src="/assets/images/merritt.png" class="team_image" (click)="toggleMerritt()"/>
                            <h4 style="font-size:20px;" class="mt-2">
                                MERRITT BARBER
                              <br>
                              <small class="sub-text">SENIOR ENGINEER</small>
                            </h4>
                          </div>
                        </div>
                    </div>
                    <div class="col-12" id="merrittMobile" style="display:none;">
                        <hr style="border-top: 1px solid #000;">
                        <p style="text-align: left;">
                            Merritt Barber has a BS in Chemical Engineering with experience applying mathematical, transport, and thermodynamic principals to experimental systems. He is an expert in raw materials and manufacturing processes.
                        </p>
                    </div>

                    <!--Bottom Row Desktop Descriptions-->
                    <div class="col-12" id="max" style="display:none;">
                        <hr style="border-top: 1px solid #000;">
                        <p style="text-align: left;">
                            Maxime Waldron started his career in Investment Banking in Paris and London at Lazard, Morgan Stanley and Bank of America Merrill Lynch. He worked on large transactions in mergers and acquisitions as well as in equity capital markets covering Europe, Middle East and Africa. He now works as a finance consultant for high growth companies and teaches corporate finance at Sorbonne University. Maxime is a graduate of ESCP Business School (Paris and London) with an Advanced Master in Finance.
                        </p>
                    </div>
                    <div class="col-12" id="merritt" style="display:none;">
                        <hr style="border-top: 1px solid #000;">
                        <p style="text-align: left;">
                            Merritt Barber has a BS in Chemical Engineering with experience applying mathematical, transport, and thermodynamic principals to experimental systems. He is an expert in raw materials and manufacturing processes.
                        </p>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-section">
    <div class="container pt-6 pb-6">
        <div class="row">
            <div class="col-md-8 text-center center">
                <h3 class="mb-4">Clients Include</h3>                
            </div>
        </div>
        <div class="row mt-2 mb-2 flex-center">
            <div class="col-md-3 col-6">
                <img class="mt-2" style="width: 100%;" src="/assets/images/sweetgreen.png"/>
            </div>
            <div class="col-md-3 col-6">
                <img class="mt-2" style="max-height: 55px; display: block; margin: 0 auto;max-width: 100%;" src="/assets/images/ozzi.png"/>
            </div>
            <div class="col-md-3 col-6">
                <img class="mt-2" style="max-height: 55px; display: block; margin: 0 auto;max-width: 100%;" src="/assets/images/kaneka.png"/>
            </div>
            <div class="amazon-logo col-md-3 col-6">
                <img class="mt-2" style="max-height: 55px; display: block; margin: 0 auto;max-width: 100%;" src="/assets/images/amazon.png"/>
            </div>
        </div>
    </div>
</div>

<div class="home-section bg-gray" id="contactSection">
    <div class="container pt-6 pb-6" id="contact-page">
        <div class="row pb-4">
            <div class="col-12">
                <h3 class="mb-4">Contact Us</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form
                    class="simple_form form-horizontal"
                    id="new_contact"
                    action="https://formspree.io/f/mdoybrjz"
                    method="POST"
                >
                    <div class="input string required contact_name">
                        <label for="contact_name">Name</label>
                        <input class="string required" aria-required="true" placeholder="Full Name" type="text" id="contact_name" name="name" required>
                    </div>
                    <div class="input email required contact_email">
                        <label class="email required" for="contact_email">Email</label>
                        <input class="string email required" aria-required="true" placeholder="you@email.com" type="email" id="contact_email" name="email" required>
                    </div>
                    <div class="input text required contact_message">
                        <label class="text required" for="contact_message">Message</label>
                        <textarea class="text required" aria-required="true" id="contact_message" required name="message"></textarea>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3" id="btn-container">
                        <br>
                        <button type="submit" class="btn btn btn-primary">Send message</button>
                      </div>
                </form>
            </div>
            <hr id="contact-divider" style="border-top: 1px solid #737373;margin-left: 15px;margin-right: 15px;padding-bottom: 20px; width: 100%;">
    
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6" style="height:156px;">
                  <iframe
                  width="100%"
                  height="150px"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11369.357757996348!2d-123.17448400000002!3d44.569623!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3fd1c6436c48f377!2sAtacama%20Manufacturing!5e0!3m2!1sen!2sus!4v1639530232941!5m2!1sen!2sus">
                  </iframe>
                </div>
                <div class="col-md-6">
                  <h4 class="sub-title">Atacama Manufacturing</h4>
                  <p class="content" style="font-size:16px;color: rgba(0, 0, 0, 0.86);">34080 ExCor Road <br> Albany, Oregon 97321</p>
                </div>
              </div>
                <div class="row">
                <div id ="contact-info" class="col-md-4">
                  <h4>Sales:</h4>
                  <p>sales@atacamausa.com</p>
                  <p>+1 (541) 207-3480</p>
                </div>
                <div id ="contact-info" class="col-md-4">
                  <h4>Customer Service:</h4>
                  <p>debby@atacamausa.com</p>
                  <p>+1 (541) 207-3480</p>
                </div>
                <div id ="contact-info" class="col-lg-4 technical">
                  <h4>Technical Service:</h4>
                  <p>chris@atacamausa.com</p>
                  <p>+1 (541) 207-2461</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
