<div class="home-section xlg-padding primary-section bg-tan" id="pageStart">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="display-4 pb-3" style="color: #07d5a8bf;opacity: 0.85;font-family:'Roboto-title';font-weight: 600;">Atacama Manufacturing</h1>
                <p class="lead pb-3" style="color: #fff;opacity: 0.85;font-family:'Roboto-sub-title';font-weight: 600;">Atacama is an innovative and fast-growing manufacturer of plant-based and
                    reusable plastic products based in the USA. The company has the capacity to
                    design, formulate, manufacture and distribute these products.</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section">
    <div class="container pt-6 pb-5">
        <div class="row" style="margin-bottom: -1rem;">
            <div class="col-12 text-center center">
                <h3 class="mb-5">Atacama's Mission is to Address Global Plastic Waste</h3>
            </div>
            <div class="col-md-3 text-center center mb-3">
                <h4 class="mb-4 title green-text"><i class="fas fa-user-friends" style="font-size: 0.85em;"></i> Consumers</h4>
                <p>Consumers around the world are demanding more sustainable products and solutions.</p>
            </div>
            <div class="col-md-3 text-center center mb-3">
                <h4 class="mb-4 title green-text"><i class="fas fa-scroll" style="font-size: 0.85em;"></i> Legislation</h4>
                <p>Regions of the world like the EU are legislating restrictions on single use plastics.</p>
            </div>
            <div class="col-md-3 text-center center mb-3">
                <h4 class="mb-4 title green-text"><i class="fas fa-trash" style="font-size: 0.85em;"></i> Waste</h4>
                <p>Landfill site costs are increasing and availability is decreasing.</p>
            </div>
            <div class="col-md-3 text-center center mb-3">
                <h4 class="mb-4 title green-text"><i class="fas fa-industry"></i> Demand</h4>
                <p>Demand for plastics has increased production from 2.3 million tons in 1950 to 448 million tons in 2015.</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section" id="innovationSection">
    <div class="text-overlay"></div>
    <div class="container">
        <div class="row flex-center" style="min-height: 500px;">
            <div class="col-md-7 offset-md-5">
                <h1 class="mb-4">Raw Material Innovation</h1>
                <p>What makes Atacama unique is an integrated approach to manufacturing. We create unique and novel bioplastic proprietary material blends that enable enhanced performance and compostability capabilities.</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section bg-green" id="developmentSection">
    <div class="container">
        <div class="row flex-center" style="min-height: 500px;">
            <div class="col-md-7 product-text">
                <h1 class="mb-4">Disruptive Product Development</h1>
                <p>The key to rapid time to market is having the right tools and structure to enable collaboration between a customer and their supplier. Atacama has over thirty years’ experience in plastic part and tool design. We can support customers with full product designs or collaborate using our CADD tools to enable manufacturable designs.</p>
            </div>
            <div class="col-md-2 col-6 offset-md-1 product-imgs product-imgs-1">
                <img src="/assets/images/cup.png"/>
                <img src="/assets/images/prototype.jpg"/>
            </div>
            <div class="col-md-2 col-6 product-imgs product-imgs-2">
                <img src="/assets/images/clam.png"/>
                <img src="/assets/images/petri.png"/>
            </div>
        </div>
    </div>
</div>

<div class="home-section" id="manufacturingSection">
    <div class="text-overlay"></div>
    <div class="container">
        <div class="row md-padding">
            <div class="col-md-7 offset-md-5">
                <h1 class="mb-4">Manufacturing</h1>
                <p>Products we manufacture include plant-based products as well as reusable products.</p>
                <p style="margin-bottom: 5px;">Our capabilities include:</p>
                <ul>
                    <li>Raw Material Formulation</li>
                    <li>Product Design & Development</li>
                    <li>Extrusion / Injection Molding / Thermoforming</li>
                    <li>Bioplastic and reusable product manufacturing</li>
                    <li>Advanced Robotics & Automation</li>
                </ul>
                <p>R&D activities and Manufacturing are located in Oregon, USA.</p>
            </div>
        </div>
    </div>
</div>

<div class="home-section bg-gray" id="circularSection">
    <div class="container">
        <div class="row flex-center" style="min-height: 500px;">
            <div class="col-md-7 product-text mb-4 mt-4">
                <h1 class="mb-4">Circular Economy</h1>
                <p>Atacama is also developing technologies and partnerships in the Circular Economy. A successful pilot project has been completed with a major national restaurant chain.
                    We manufacture plant-based plastic products, collect them after use and remanufacture new products.
                </p>        
                <p>Over <span class="green-text">30,000</span> lbs of plant based plastic have been reclaimed and remanufactured to date.</p>    
            </div>
            <div class="col-md-4 col-12 offset-md-1">
                <img class="circular-image" src="/assets/images/circular.png" style="width: 100%;"/>
            </div>
        </div>
    </div>
</div>

<div class="home-section" id="contactSection">
    <div class="container pt-6 pb-6" id="contact-page">
        <div class="row pb-2">
            <div class="col-12">
                <h3 class="mb-4">Contact Us</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Atacama is now a business of Reynolds Consumer Products. We invite you to submit an inquiry through our 
                    <a class="active-link bold" href="https://reynoldsconsumerproducts.com/contact" target="_blank">contact form</a>.
                </p>
                <p>
                    Please indicate your specific area of interest in the description field so we can better route your request for response.
                </p>
            </div>
          </div>
    </div>
</div>
