  <div class="texture_gradient" style="height: 100%"></div>
  <div id="wrapper">
    <div id="menu-desktop">
      <ul>
        <li>
          <a class="menu-item" href="/about" [routerLink]="['/about']" routerLinkActive="active-link">ABOUT</a>
        </li>
        <li>
          <a class="menu-item" href="/about/manufacturing" [routerLink]="['/about/manufacturing']" routerLinkActive="active-link">MANUFACTURING</a>
        </li>
        <li>
          <a class="menu-item" href="/about/services" [routerLink]="['/about/services']" routerLinkActive="active-link">SERVICES</a>
        </li>
        <li>
          <a class="menu-item" href="/contact" [routerLink]="['/contact']" routerLinkActive="active-link">CONTACT</a>
        </li>
        <li>
          <a class="menu-item" href="http://earthsmartpd.com/">EARTH SMART PACKAGING</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="bgimg-1">
        <div class="caption">
          <span class="border">
            ATACAMA MANUFACTURING
          </span>
          <div id="mobile-enter-tag" style="margin-top:25px">
            <a href="/about" [routerLink]="['/about']" routerLinkActive="on"
            style="color: #fff;font-family: 'Roboto';font-size: 14px;letter-spacing: 1px;border-bottom: 1px solid #fff;padding:0;font-weight: 800;"
            >ENTER SITE</a>
          </div>
        </div>
      </div>
    </div>